@{
    ViewData["Title"] = "About this service";
}
<h1>@ViewData["Title"]</h1>

<p>This web servise was developed as Technical Assignment for a Job Application.</p>
<p>Technologies used are: .NET Core 5.0, Entity Framework, MSSQL, Javascript</p>
<p>Methodologies used are: MVC, Singleton, Dependency Injection, LinQ, Interfaces, Abstraction, Polymorphism, Inheritance</p>
<p>Tools and Libraries Used: CsvHelper, GitHub, MSSMS</p>